
@use '@angular/material' as mat;
@use './m3-theme' as m3-theme;
@include mat.core();

:root {
  @include mat.all-component-themes(m3-theme.$light-theme);
}
html {
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);
}
html, body { 
  
  height: 100%;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  --sys-background: #fdf7ff;
  --sys-error: #ba1a1a;
  --sys-error-container: #ffdad6;
  --sys-inverse-on-surface: #f5eff7;
  --sys-inverse-primary: #cfbcff;
  --sys-inverse-surface: #322f35;
  --sys-on-background: #1d1b20;
  --sys-on-error: #ffffff;
  --sys-on-error-container: #410002;
  --sys-on-primary: #ffffff;
  --sys-on-primary-container: #22005d;
  --sys-on-primary-fixed: #22005d;
  --sys-on-primary-fixed-variant: #4f378a;
  --sys-on-secondary: #ffffff;
  --sys-on-secondary-container: #1f1635;
  --sys-on-secondary-fixed: #1f1635;
  --sys-on-secondary-fixed-variant: #4b4263;
  --sys-on-surface: #1d1b20;
  --sys-on-surface-variant: #494551;
  --sys-on-tertiary: #ffffff;
  --sys-on-tertiary-container: #3c002b;
  --sys-on-tertiary-fixed: #3c002b;
  --sys-on-tertiary-fixed-variant: #752a5b;
  --sys-outline: #7a7582;
  --sys-outline-variant: #cbc4d2;
  --sys-primary: #6750a4;
  --sys-primary-container: #e9ddff;
  --sys-primary-fixed: #e9ddff;
  --sys-primary-fixed-dim: #cfbcff;
  --sys-scrim: #000000;
  --sys-secondary: #63597c;
  --sys-secondary-container: #e9ddff;
  --sys-secondary-fixed: #e9ddff;
  --sys-secondary-fixed-dim: #cdc0e9;
  --sys-shadow: #000000;
  --sys-surface: #fdf7ff;
  --sys-surface-bright: #fdf7ff;
  --sys-surface-container: #f2ecf4;
  --sys-surface-container-high: #ece6ee;
  --sys-surface-container-highest: #e6e0e9;
  --sys-surface-container-low: #f8f2fa;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-dim: #ded8e0;
  --sys-surface-tint: #6750a4;
  --sys-surface-variant: #e7e0ee;
  --sys-tertiary: #924274;
  --sys-tertiary-container: #ffd8ea;
  --sys-tertiary-fixed: #ffd8ea;
  --sys-tertiary-fixed-dim: #ffaedb;
  --sys-body-large: 400 1rem / 1.5rem Roboto, sans-serif;
  --sys-body-large-font: Roboto, sans-serif;
  --sys-body-large-line-height: 1.5rem;
  --sys-body-large-size: 1rem;
  --sys-body-large-tracking: 0.031rem;
  --sys-body-large-weight: 400;
  --sys-body-medium: 400 0.875rem / 1.25rem Roboto, sans-serif;
  --sys-body-medium-font: Roboto, sans-serif;
  --sys-body-medium-line-height: 1.25rem;
  --sys-body-medium-size: 0.875rem;
  --sys-body-medium-tracking: 0.016rem;
  --sys-body-medium-weight: 400;
  --sys-body-small: 400 0.75rem / 1rem Roboto, sans-serif;
  --sys-body-small-font: Roboto, sans-serif;
  --sys-body-small-line-height: 1rem;
  --sys-body-small-size: 0.75rem;
  --sys-body-small-tracking: 0.025rem;
  --sys-body-small-weight: 400;
  --sys-display-large: 400 3.562rem / 4rem Roboto, sans-serif;
  --sys-display-large-font: Roboto, sans-serif;
  --sys-display-large-line-height: 4rem;
  --sys-display-large-size: 3.562rem;
  --sys-display-large-tracking: -0.016rem;
  --sys-display-large-weight: 400;
  --sys-display-medium: 400 2.812rem / 3.25rem Roboto, sans-serif;
  --sys-display-medium-font: Roboto, sans-serif;
  --sys-display-medium-line-height: 3.25rem;
  --sys-display-medium-size: 2.812rem;
  --sys-display-medium-tracking: 0;
  --sys-display-medium-weight: 400;
  --sys-display-small: 400 2.25rem / 2.75rem Roboto, sans-serif;
  --sys-display-small-font: Roboto, sans-serif;
  --sys-display-small-line-height: 2.75rem;
  --sys-display-small-size: 2.25rem;
  --sys-display-small-tracking: 0;
  --sys-display-small-weight: 400;
  --sys-headline-large: 400 2rem / 2.5rem Roboto, sans-serif;
  --sys-headline-large-font: Roboto, sans-serif;
  --sys-headline-large-line-height: 2.5rem;
  --sys-headline-large-size: 2rem;
  --sys-headline-large-tracking: 0;
  --sys-headline-large-weight: 400;
  --sys-headline-medium: 400 1.75rem / 2.25rem Roboto, sans-serif;
  --sys-headline-medium-font: Roboto, sans-serif;
  --sys-headline-medium-line-height: 2.25rem;
  --sys-headline-medium-size: 1.75rem;
  --sys-headline-medium-tracking: 0;
  --sys-headline-medium-weight: 400;
  --sys-headline-small: 400 1.5rem / 2rem Roboto, sans-serif;
  --sys-headline-small-font: Roboto, sans-serif;
  --sys-headline-small-line-height: 2rem;
  --sys-headline-small-size: 1.5rem;
  --sys-headline-small-tracking: 0;
  --sys-headline-small-weight: 400;
  --sys-label-large: 500 0.875rem / 1.25rem Roboto, sans-serif;
  --sys-label-large-font: Roboto, sans-serif;
  --sys-label-large-line-height: 1.25rem;
  --sys-label-large-size: 0.875rem;
  --sys-label-large-tracking: 0.006rem;
  --sys-label-large-weight: 500;
  --sys-label-large-weight-prominent: 700;
  --sys-label-medium: 500 0.75rem / 1rem Roboto, sans-serif;
  --sys-label-medium-font: Roboto, sans-serif;
  --sys-label-medium-line-height: 1rem;
  --sys-label-medium-size: 0.75rem;
  --sys-label-medium-tracking: 0.031rem;
  --sys-label-medium-weight: 500;
  --sys-label-medium-weight-prominent: 700;
  --sys-label-small: 500 0.688rem / 1rem Roboto, sans-serif;
  --sys-label-small-font: Roboto, sans-serif;
  --sys-label-small-line-height: 1rem;
  --sys-label-small-size: 0.688rem;
  --sys-label-small-tracking: 0.031rem;
  --sys-label-small-weight: 500;
  --sys-title-large: 400 1.375rem / 1.75rem Roboto, sans-serif;
  --sys-title-large-font: Roboto, sans-serif;
  --sys-title-large-line-height: 1.75rem;
  --sys-title-large-size: 1.375rem;
  --sys-title-large-tracking: 0;
  --sys-title-large-weight: 400;
  --sys-title-medium: 500 1rem / 1.5rem Roboto, sans-serif;
  --sys-title-medium-font: Roboto, sans-serif;
  --sys-title-medium-line-height: 1.5rem;
  --sys-title-medium-size: 1rem;
  --sys-title-medium-tracking: 0.009rem;
  --sys-title-medium-weight: 500;
  --sys-title-small: 500 0.875rem / 1.25rem Roboto, sans-serif;
  --sys-title-small-font: Roboto, sans-serif;
  --sys-title-small-line-height: 1.25rem;
  --sys-title-small-size: 0.875rem;
  --sys-title-small-tracking: 0.006rem;
  --sys-title-small-weight: 500;
}